{% extends "base.html" %}

{%- macro reserved_addr(addr, addr_digits) -%}
<tr class="reserved-addr">
    <td class="address">{{format_addr(addr, addr_digits)}}</td>
    <td>-</td>
    <td>-</td>
    <td></td>
</tr>
{%- endmacro %}

{%- block content %}
<table border="1">
    <tr>
        <th>Address</th>
        <th>Identifier</th>
        <th>Name</th>
        <th></th>
    </tr>
    {%- set addr_digits = get_table_addr_digits(this_id, children.keys()|list) -%}
    {%- for child_id,child in children.items() %}
    {%- set child_addr = get_node_abs_addr(child_id) -%}
    {%- if loop.first and get_node_offset(child_id) != 0 %}
    {{reserved_addr(child_addr-1, addr_digits)}}
    {%- elif (not loop.first) and (get_node_abs_addr(loop.previtem[0]) + get_node_total_size(loop.previtem[0])) < child_addr %}
    {{reserved_addr(get_node_abs_addr(loop.previtem[0]) + get_node_total_size(loop.previtem[0]), addr_digits)}}
    {%- endif %}
    <tr id="{{child.inst_name}}">
        <td class="address">{{format_addr(child_addr, addr_digits)}}</td>
        <td><a href="?p={{get_node_path(child_id)}}" data-id="{{child_id}}" onclick="onClickNodeLink(event); return(false)">
            {%- if child.is_array -%}
                {{child.inst_name}}{% for dim in child.array_dimensions %}[{{dim}}]{% endfor %}
            {%- else -%}
                {{child.inst_name}}
            {%- endif -%}
        </a></td>
        <td>{{(child.get_html_name() or "-")|safe}}</td>
        <td>
            <a class="headerlink" href="#{{child.inst_name}}" title="Permalink to this row"></a>
        </td>
    </tr>
    {%- endfor %}
</table>
{%- endblock content %}
